@font-face {
	font-family: 'Google Sans Code';
	font-optical-sizing: auto;
	font-style: normal;
	src: url('./GoogleSansCode-VariableFont_wght.ttf') format('woff2-variations');
}

.mono {
	font-family: 'Google Sans Code', monospace;
}
